<ion-view title="{{ info.user.login }}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <h2>{{ info.user.name }}</h2>
        <p>{{ info.user.company }}</p>
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios7-speedometer-outline"></i>
        <h2>{{ info.points }} points</h2>
      </div>

      <div class="item item-image">
        <img ng-src="{{ info.user.avatar_url }}">
      </div>

      <a class="item item-icon-left" ng-href="#/tab/users/{{ info.user.id }}/events" ng-show="!info.user.me">
        <i class="icon ion-film-marker"></i>
        Activity
      </a>
      <a class="item item-icon-left" ng-href="#/tab/events" ng-show="info.user.me">
        <i class="icon ion-film-marker"></i>
        Activity
      </a>
    </div>

    <h3>Badges</h3>
    <div class="list">
      <span ng-repeat="(key, badge) in info.badges" class="item item-thumbnail-left">
        <img ng-src="img/{{ key }}.png">
        <h2>{{ badge.name }}</h2>
        <p>{{ badge.description }}</p>
      </span>
    </div>
  </ion-content>
</ion-view>
